Optimizationvenv/
hw3_2.py
optimizers.py
.vscode/
Assignment3/Optimization HW3 Report.docx
.DS_Store
Assignment3/*.zip
Assignment4/*.pdf
Assignment4/Optimization Homework 4 Report.html
Assignment4/*.zip
